.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3em; }

a {
  text-decoration: none; }

.nav-bg {
  background-color: #0e6cff;
  color: #fff; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  nav ul {
    display: flex;
    list-style-type: none; }
  nav li {
    padding: 15px; }
  nav a {
    color: #fff; }
  nav a:hover {
    color: #ff8700; }

.plans {
  display: flex;
  overflow-x: auto; }
  .plans > * {
    flex: 0 0 auto;
    margin-left: 10px; }
  .plans::after {
    content: "";
    flex: 0 0 10px; }

.plan {
  width: 300px;
  height: calc(100% - 10px - 17px); }
  .plan > * {
    background-color: #f4f4f4;
    color: #333;
    padding: 0 10px; }
  .plan header {
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .plan footer {
    line-height: 36px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #888; }

.todo {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; }
  .todo-list {
    list-style: none;
    margin: 0;
    max-height: calc(100% - 36px - 36px);
    overflow-y: auto; }

.completed span {
  text-decoration: line-through; }

.plan-form input,
.todo-form input {
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #f4f4f4;
  border-radius: 3px;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
  width: calc(100% - 20px); }
  .plan-form input:focus,
  .todo-form input:focus {
    border: 1px solid #0e6cff; }

.plan-form {
  margin: 2rem; }
