// Layout
$plan-width: 300px;
$gap: 10px;
$scrollbar-thickness: 17px;
$plan-header-height: 36px;
$plan-footer-height: 36px;
// Misc
$plan-border-radius: 5px;
$card-border-radius: 3px;
// Colors
$light-color: #f4f4f4;
$grey-color: #c2c2c2;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
// Font
$font-stack: Arial, Helvetica, sans-serif;

// Set text color based on bg
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
