@import "config";
@import "utilities";

body {
  margin: 0;

  font-family: $font-stack;
  // font-size: 14px;
  line-height: 1.3em;
}

a {
  text-decoration: none;
}

.nav-bg {
  @include set-background($primary-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 15px;
  }

  a {
    color: set-text-color($primary-color);
  }

  a:hover {
    color: $secondary-color;
  }
}

.plans {
  display: flex;
  overflow-x: auto;

  > * {
    flex: 0 0 auto;
    margin-left: $gap;
  }
  &::after {
    content: "";
    flex: 0 0 $gap;
  }
}

.plan {
  width: $plan-width;
  height: calc(100% - #{$gap} - #{$scrollbar-thickness});

  > * {
    background-color: $light-color;
    color: #333;

    padding: 0 $gap;
  }

  header {
    line-height: $plan-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $plan-border-radius;
    border-top-right-radius: $plan-border-radius;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer {
    line-height: $plan-footer-height;
    border-bottom-left-radius: $plan-border-radius;
    border-bottom-right-radius: $plan-border-radius;
    color: #888;
  }
}

.todo {
  background-color: #fff;
  padding: $gap;

  margin-bottom: $gap;

  border-radius: $card-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &-list {
    list-style: none;
    margin: 0;

    max-height: calc(100% - #{$plan-header-height} - #{$plan-footer-height});
    overflow-y: auto;
  }
}

.completed span {
  text-decoration: line-through;
}

.plan-form,
.todo-form {
  input {
    border: 1px solid $grey-color;
    box-shadow: 1px 1px 4px $light-color;
    border-radius: 3px;
    padding: $gap;
    outline: none;
    margin-bottom: $gap;
    width: calc(100% - #{2 * $gap});

    &:focus {
      border: 1px solid $primary-color;
    }
  }
}

.plan-form {
  margin: 2rem;
}
